.cart-container {
    margin-bottom: 100px;

    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    padding: 20px;
}

.cart-container img {
    width: 945px;
    height: 550px;
}

.cart-container a {
    text-decoration: none;
    font-size: 20px;
}

.writer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.writer-info {
    display: flex;
    align-items: center;
}

.writer-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.read-time {
    display: flex;

}

.btn-bookmark img {
    width: 24px;
    height: 24px;
}

.btn-bookmark{
    border: 0;
    background-color: white;
    cursor: pointer;
    color: rgb(168, 166, 166);;
}

.mark-read{
    background-color: white;
    border: 0;
    color: blue;
    font-size: 18px;
    cursor: pointer;
}

.readTime{
    font-size: 20px;
    color: rgb(168, 166, 166);
}