.content-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    margin-top: 50px;    
}

@media screen and (max-width: 688px) {
    .content-container{
        display: flex;
        flex-direction: column;
    }
   
}